<link rel="stylesheet" href="{{ 'custom-video.css' | asset_url }}">

<section class="video-block">
  {% if section.settings.video != blank %}
    {{ section.settings.video | video_tag: autoplay: true, loop: true, width: '100%', height: '100%' }}
  {% endif %}
  {% if section.settings.text != blank %}
    <p class="video-block__text">{{ section.settings.text }}</p>
  {% endif %}
</section>
{% schema %}
  {
    "name": "Custom video section",
    "settings": [
      {
        "type": "video",
        "id": "video",
        "label": "Video"
      }, {
        "type": "text",
        "id": "text",
        "label": "Text"
      }
    ],
    "presets": [
      {
        "name": "Custom video section"
      }
    ]
  }
{% endschema %}