.totals {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.totals > * {
  font-size: 1.6rem;
  margin: 0;
}

.totals > h2 {
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 2rem;
}

.totals__total {
  margin-top: .5rem;
}

.totals__total-value {
  font-size: 1.8rem;
}

.cart__ctas + .totals {
  margin-top: 2rem;
}

@media all and (min-width: 750px) {
  .totals {
    justify-content: flex-end;
  }
}
/* custom*/
.cart__footer .totals__total-value,
.cart__footer .totals > h2 {
  color: #171719;
  font-family: var(--font-heading-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.cart__footer .totals{
  justify-content: space-between;
  align-items: center;
}
.cart__footer .tax-note{
  color: #171719;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  margin-top: 28px;
  margin-bottom: 32px;
}
.cart__footer .cart__ctas{
  margin: 0;
}
.cart__footer .cart__checkout-button.button{
  max-width: none;
}
.cart__footer .cart__dynamic-checkout-buttons{
  border-radius: 10px;
  width: 100%;
  max-width: none;
  overflow: hidden;
}
.cart__footer .cart__dynamic-checkout-buttons li{
  flex-grow: 1 !important;
}


