.h1{
    font-family: var(--font-heading-family);
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: -0.01em;
}
.regular{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.h2{
    font-family: var(--font-heading-family);
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: -0.01em;
}
.h3{
    font-size: 2.24rem;
    font-family: var(--font-heading-family);
    font-weight: 700;
    line-height: 1.1em;
    letter-spacing: -0.01em;
}
@media screen and (max-width: 1000px) {
    .h1{
        font-size: calc(2.5rem + 4.0vw);
    }
    .h2{
        font-size: calc(2.100rem + 2.0vw);
    }
    .h3{
        font-size: calc(1.7rem + 0.9vw);
    }
}
.image-with-text__grid{
    justify-content: space-between;
}
.image-with-text__content{
    padding: 16px !important;
}
/*.grid--2-col-tablet .grid__item{*/
/*    max-width: calc(50% - 1.6rem / 2)!important;*/
/*}*/
.image-with-text__content>*+*{
    margin-top: 6px !important;
}
.image-with-text__text p{
    margin-bottom: 1.6rem !important;
}

@media screen and (max-width: 990px) {
    .image-with-text__grid{
        gap: 1.6rem;
        flex-direction: column;
    }
    /*.grid--2-col-tablet .grid__item {*/
    /*    max-width: none !important;*/
    /*    width: 100%!important;*/
    /*}*/
}

.customer>h1{
    margin-bottom: 8px;
}
.customer a{
    font-size: 18px;
    transition-duration: 300ms;
}
.customer a:hover,
.login .flied_label:hover{
  color: #d0672a;
  transition-duration: 300ms;
}
.customer .field {
  font-size: 14px;
}
.customer:not(.account):not(.order) {
    max-width: 480px;
    padding: 32px;
}
.bottom_line{
    padding-bottom: 48px;
    border-bottom: 1px solid #d9d9d9;
}
.customer .field{
    margin: 0;
    margin-bottom: 3.2rem;
}
.customer .field:last-child{
    margin-bottom: 0;
}
.login a[href="#recover"],
.flied_label{
    font-size: calc(1.600rem + 0.0vw);
    font-weight: 300;
}
.customer .field{
    border: 1px solid rgba(23,23,25)
}
.customer .field label{
    font-size: 18px;
}

.customer .field:before,
.customer .field:after{
    content: none
}

.customer button {
    background: #D0672A;
    color: #fff;
    font-size: 2rem;
    width: 100%;
    margin-top: 0;
    transition-duration: 300ms;
    font-family: var(--font-heading-family);
    min-height: unset;
    padding: 8px 16px;

}
.customer button:after,
.customer button:before{
    content: none;
}
.customer button{
    min-height: none;
}
.customer .field label {
    left: calc(var(--inputs-border-width) + 1.2rem);
    top: calc(1.6rem + var(--inputs-border-width));
    font-size: 1.6rem;

}
.thumbnail-list__item.slider__slide:nth-child(3){
  display: none
}
.shopify-payment-button__button {
    overflow: hidden;
}
[data-testid="form-row"]:last-child [component]:last-child button,
.button_custom,
.shopify-payment-button__button:link,
.shopify-payment-button__button:visited {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ed671d;
    border-radius: 30px;
    color: #fff;
    /*background-image: linear-gradient(90deg, #d0672a, #d0672a);*/
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
[data-testid="form-row"]:last-child [component]:last-child button::before,
.button_custom::before,
.shopify-payment-button__button::before {
    background: #fff;
    content: "" !important;
    height: 155px;
    opacity: 0;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    width: 50px;
    transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
}
[data-testid="form-row"]:last-child [component]:last-child button::after,
.button_custom::after,
.shopify-payment-button__button::after {
    background: #fff;
    content: "" !important;
    height: 20rem;
    opacity: 0;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 8rem;
}
[data-testid="form-row"]:last-child [component]:last-child button::before,
.button_custom::before,
.shopify-payment-button__button::before {
    left: -50%;
    pointer-events: none;
}
[data-testid="form-row"]:last-child [component]:last-child button::after,
.button_custom::after,
.shopify-payment-button__button::after {
    left: -100%;
    pointer-events: none;
}
[data-testid="form-row"]:last-child [component]:last-child button:hover,
.button_custom:hover,
.button_custom:active,
.shopify-payment-button__button:hover,
.shopify-payment-button__button:active {
    transform: translateY(-3px);
    /*color: #fff;*/
    /*box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);*/
}
[data-testid="form-row"]:last-child [component]:last-child button:hover::before,
.button_custom:hover::before,
.shopify-payment-button__button:hover::before {
    left: 120%;
    opacity: 0.5;
}
[data-testid="form-row"]:last-child [component]:last-child button:hover::after,
.button_custom:hover::after,
.shopify-payment-button__button:hover::after {
    left: 200%;
    opacity: 0.6;
}


table {
  border: 1px solid black;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #000;
}
/**/

.product-form__submit{
    background: #ED671E;
    max-width: 197px;
    width: 100%;
    padding: 10px 10px;
    min-height: 51px;
    border-radius: 50px;
    color: #fff;
    font-family: var(--font-heading-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    overflow: hidden;
}
fieldset.product-form__input .form__label, .product__tax{
    display: none;
}
localization-form{
    display: flex;
}


.payment_icons__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.payment_icons__text {
    color: #171719;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.payment_icons__icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.payment_icons__item {
    display: flex;
    max-width: 48px;
    height: 25px;
}

.payment_icons__item svg {
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 1440px) {
    .payment_icons__text{
        font-size: 16px !important;
    }
    .payment_icons__wrapper{
        gap: 17px
    }
}
.needsclick{
    /* z-index: 900 !important; */
}
.shopify-payment-button__more-options{
    max-width: none !important;
}
.loox-rating{
    display: inline-flex;
}
.loox-rating .loox-rating-content{
    gap: 1px;
    flex-wrap: wrap;
    justify-content: center;
}
.loox-rating-label{
    margin-left: 6px;
    white-space: nowrap;
    line-height: 1;
    color: #000;
}
.card-oven-reviews{
    text-align: center;
}
button.needsclick span{
    background: #ed671d !important;
}
@media screen and (max-width: 600px){
    .payment_icons__text {
        font-size: 18px;
    }
    .payment_icons__wrapper{
        flex-direction: column;
    }
    svg.loox-icon{
        width: 20px !important;
        height: 20px !important;
    }
}

    [data-testid="form-row"]:has(button),
    [data-testid="form-row"]:has(input){
        justify-content: center;
        max-width: 550px;
        width: 100%;
        margin: 0 auto;
    }
  
    [data-testid="form-row"] svg path{
        fill: #000;
    }
    [data-testid="form-row"] svg{
        display: block;
    }
    [data-testid="form-row"]:nth-child(2){
      max-width: 683px;
      margin: 0 auto;
    }
    .klaviyo-form-XcMpAu p{
      line-height: normal !important;
    }
    .klaviyo-form-XcMpAu{
        z-index: 1 !important;
    }
    @media screen and (max-width: 600px) {
      .klaviyo-form-XcMpAu form.needsclick{
        padding: 32px 15px !important;
      }
      [data-testid="form-row"]:nth-child(1) span{
        font-size: 22px !important;
      }
      [data-testid="form-row"]:nth-child(1) [component]{
        padding-bottom: 16px !important;
      }
      [data-testid="form-row"]:nth-child(2) [component]{
        padding-bottom: 32px !important;
      }
      [data-testid="form-row"]:last-child{
        flex-wrap: wrap;
        row-gap: 8px;
      }
      [data-testid="form-row"]:last-child [component]{
        width: 100% !important;
        flex: unset !important;
        padding: 0 !important;
      }

    }

