@import url('https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css');
.custom-slider {
  background-color: #000;
  position: relative;
  padding-bottom: 48px;
}
.mySwiper {
  width: calc(100% - 100px);
  margin: 0 auto;
}
.custom-slider__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  height: auto;
}

.custom-slider__title.h1 {
  margin: 0;
  color: #fff;
  text-align: center;
  padding-bottom: 48px;
}
.custom-slider__wrapper {

}

.custom-slider__text.regular{
  color: #fff;
  margin: 0;
}
.custom-slider__next,
.custom-slider__prev {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 39px);
  right: 10px;
  z-index: 10;
}
.custom-slider__prev {
  right:auto;
  left: 10px;
  transform: rotate(-180deg);
}
.custom-slider__next[aria-disabled="true"],
.custom-slider__prev[aria-disabled="true"]{
  display: none;
}
@media (max-width: 767px) {
  .custom-slider__title.h1 {
    padding-bottom: 32px;
  }
}
@media (max-width: 568px) {
  .custom-slider__wrapper {
    display: block;
    margin: 0;
  }
  .custom-slider__slide {
    width: 100%!important;
    gap: 16px;
  }
  .custom-slider__slide:not(:last-child) {
    padding-bottom: 32px;
  }
}