.h1{
    font-family: var(--font-heading-family);
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: -0.01em;
}
.regular{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.h2{
    font-family: var(--font-heading-family);
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: -0.01em;
}
.h3{
    font-size: 2.24rem;
    font-family: var(--font-heading-family);
    font-weight: 700;
    line-height: 1.1em;
    letter-spacing: -0.01em;
}
@media screen and (max-width: 1000px) {
    .h1{
        font-size: calc(2.4rem + 4.0vw);
    }
    .h2{
        font-size: calc(2.100rem + 2.0vw);
    }
    .h3{
        font-size: calc(1.7rem + 0.9vw);
    }
}
.image-with-text__grid{
    justify-content: space-between;
}
.image-with-text__content{
    padding: 16px !important;
}
.grid--2-col-tablet .grid__item{
    max-width: calc(50% - 1.6rem / 2)!important;
}
.image-with-text__content>*+*{
    margin-top: 6px !important;
}
.image-with-text__text p{
    margin-bottom: 1.6rem !important;
}

@media screen and (max-width: 990px) {
    .image-with-text__grid{
        gap: 1.6rem;
        flex-direction: column;
    }
    .grid--2-col-tablet .grid__item {
        max-width: none !important;
        width: 100%!important;
    }
}

.customer>h1{
    margin-bottom: 8px;
}
.customer a{
    font-size: 18px;
    transition-duration: 300ms;
}
.customer a:hover{
    color: #d0672a;
    transition-duration: 300ms;
}
.customer:not(.account):not(.order) {
    max-width: 480px;
    padding: 32px;
}
.bottom_line{
    padding-bottom: 48px;
    border-bottom: 1px solid #d9d9d9;
}
.customer .field{
    margin: 0;
    margin-bottom: 3.2rem;
}
.customer .field:last-child{
    margin-bottom: 0;
}
.login a[href="#recover"],
.flied_label{
    font-size: calc(1.600rem + 0.0vw);
    font-weight: 300;
}
.customer .field{
    border: 1px solid rgba(23,23,25)
}
.customer .field input{
    padding: 1.6rem 1.2rem;
    font-size: 1.4rem;
    height: 58px;

}
.customer .field label{
    font-size: 18px;
}
.customer .field input:hover{
    box-shadow: inset 0px -3px 0px 0px #000;
}
.customer .field:before,
.customer .field:after{
    content: none
}
.customer .field input:focus{
    box-shadow: none;
}
.customer button {
    background: #D0672A;
    color: #fff;
    font-size: 2rem;
    width: 100%;
    margin-top: 0;
    transition-duration: 300ms;
    font-family: var(--font-heading-family);
    min-height: unset;
    padding: 8px 16px;

}
.customer button:hover{
    background: #A34000;
    transition-duration: 300ms;
}
.customer button:after,
.customer button:before{
    content: none;
}
.customer button{
    min-height: none;
}
.customer .field label {
    left: calc(var(--inputs-border-width) + 1.2rem);
    top: calc(1.6rem + var(--inputs-border-width));
    font-size: 1.6rem;

}
.thumbnail-list__item.slider__slide:nth-child(3){
  display: none
}


