
.custom-featured-product-grid .loox-rating{
    text-align: center;
    margin-top: 20px;
}
.custom-featured-product-grid svg.loox-icon {
    width: 24px;
    height: 24px;
}
.custom-featured-product-grid .loox-rating .loox-rating-content{
    gap: 2px
}
.product__info-container>*+*{
    margin: 0;
}
.product-grid-title{
    margin: 0;
    text-align: center;
    margin-bottom: 48px

}
.custom-featured-product-grid{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0
}
.custom-featured-product-grid .product__media-wrapper{
    flex-grow: 0;
}
.custom-featured-product-grid .grid--2-col-tablet .grid__item{
    max-width: none;
    width: 100%;
    flex-grow: 0;
}
.custom-featured-product-grid .product__info-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
}

.custom-featured-product-grid .product-media-container .media{
    padding-top: 69.6% !important;
}
.product-media-container .media>img{
    /*object-fit: contain;*/
}
.product-media-container .product__modal-opener .product__media-icon{
    display: none;
}
.custom-featured-product-grid .global-media-settings{
    border: none;
}
.custom-featured-product-grid .description.list-hidden ul{
  display:none;
}

.custom-featured-product-grid .description svg{
    width: 24px;
    height: 24px;
}
.custom-featured-product-grid .description ul{
    list-style: none;
    max-width: 350px;
    margin: 0 auto;
}
.custom-featured-product-grid .description > p{
    text-align: center;
    margin-top: 0;
}
.custom-featured-product-grid .description li img {
    width: 28px;
}
.custom-featured-product-grid .description li > span{
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}
.custom-featured-product-grid .description li{
    margin-bottom: 10px;
}
.custom-featured-product-grid .description > *{
    margin: 0;
    padding: 0;
    padding-top: 16px;
}
.custom-featured-product-grid .description > *:first-child{
    padding-top: 0;
}

.custom-collection .collection-item{
    width: 100%;
    max-width: none;
    background: #080808;
    color: #fff;
    border-radius: 30px;
    overflow: hidden;

}
.product-form__input input[type=radio]+label{
    background: #3F444A;
    color: #fff;
}
.product-form__input input[type=radio]:checked+label{
    background: #fff;
    color: #000;
}
.product-form__input input[type=radio]+label.option__color{
    border: 1px solid black;
    width: 42px;
    height: 42px;
    padding: 0;
    box-shadow: 0px 0px 0px 1px #5A5B56;
    margin-top: 0;
    display: block;
}
.product-form__input input[type=radio]:checked+label.option__color{
    box-shadow: 0px 0px 0px 1px #fff;
}
.custom-featured-product-grid .product-form__input{
    text-align: center;
    max-width: none;
    padding: 0 15px;
    margin: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.custom-featured-product-grid .price.price--large.price--show-badge,
.custom-featured-product-grid .product__title{
    color: #fff;
    text-align: center;
}
.custom-featured-product-grid .product__title{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    margin-top: 24px;
    text-transform: uppercase;

}
.custom-featured-product-grid .description{
    margin: 0;
    margin-top: 16px;
}
.custom-featured-product-grid .gradient{
    background: none;
}
.product .price .badge,
.price--on-sale .price-item--regular {
    display: none;
}
.custom-collection .product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 36px;
    margin-top: 0px;
}

.custom-collection .product__view-details-box {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.custom-collection .product__view-details{
    color: #fff;
    text-align: center;
    padding: 12px 10px;
    font-family: var(--font-heading-family);
    max-width: 200px;
    width: 100%;
    background: #D0672A;
    border-radius: 25px;
    margin-top: 32px;
    margin-right: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 23.4px */
    transition-duration: 300ms;

}
.custom-collection .product__view-details:hover{
    text-decoration: none;
    transition-duration: 300ms;
}
.custom-collection .product__info-wrapper{
    max-width: 653px;
    margin: 0 auto;
    padding: 0 15px !important;
    padding-bottom: 48px !important;
}

.custom-collection .product .price__container{
    margin: 0;
    margin-top: 32px;
}
.custom-collection .price__regular .price-item--regular{
    color: #FFF;
    font-family: var(--font-heading-family);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
}
.custom-featured-product-grid .description p{
    font-size: 20px
}
@media screen and (max-width: 1440px) {
    .product-grid-title{
        font-size: 45px;
        margin-bottom: 58px;
    }
    .custom-featured-product-grid .product__title {
        font-size: 38px;
        margin-top: 20px;
    }

    .custom-collection .product-grid {
        gap: 60px;
    }

    .custom-collection .collection-item {
        border-radius: 10px;
    }

    .custom-featured-product-grid .product-media-container .media {
        padding-top: 44.8%!important;
    }
    .custom-featured-product-grid .product-form__input input[type=radio]+label.option__color{
        width: 30px;
        height: 30px;
    }
    .custom-featured-product-grid .description{
        margin-top: 23px;
    }
    .custom-collection .product .price__container{
        margin-top: 25px;
    }
    .custom-collection .price__regular .price-item--regular{
        font-size: 30px;
    }
    .custom-collection .product__view-details{
        margin-top: 25px;
    }
    .link.product__view-details.butn.butn__new {
        height: 46px;
        max-width: 160px;
    }
    .custom-collection .product__view-details{
        max-width: 160px;
        padding: 14px 10px;
    }
  .custom-featured-product-grid .description {
    margin-top: 23px;
    max-width: 468px;
    margin-left: auto;
    margin-right: auto;
}
    .custom-featured-product-grid .description li>span{
        font-size: 20px;
    }
    .custom-collection .product__info-wrapper{
        padding-bottom: 31px !important;
    }
}
@media screen and (max-width: 900px) {
    .product-grid-title {
        display: block;
    }
    .custom-collection .page-width{
        padding-left: 15px;
        padding-right: 15px;
    }

}
@media screen and (max-width: 720px) {
    .custom-collection .collection-item {
        border-radius: 10px;
    }

    .product-grid-title {
        font-size: 40px;
    }

    .custom-collection .product-grid {
        margin-top: 0;
        grid-template-columns: 1fr;
    }

    .custom-featured-product-grid .product-form__input {
        margin: 0;
    }

    .custom-featured-product-grid .product__title {
        font-size: 4rem;
    }

    .custom-featured-product-grid .description p {
        font-size: 14px;
    }

    .custom-collection .price__regular .price-item--regular {
        font-size: 29px;
    }

    .custom-collection .product__view-details {
        max-width: none;
    }

    .custom-collection .product__info-wrapper {
        padding-bottom: 24px !important;
    }

    .custom-featured-product-grid .description li img {
        width: 20px;
    }
    .custom-featured-product-grid .description li>span{
        font-size: 16px;
    }
}
@media (max-width: 576px) {
  .custom-featured-product-grid .product__title{
    font-size: 29px;
  }
  .link.product__view-details.butn.butn__new {
    margin-right: 0;
  }
  .custom-collection .product-grid{
    gap: 24px;
  }
}
.link.product__view-details.butn.butn__new {
  height: 42px;
}

.product__media.media.media--transparent {
  position: relative;
}

.product__media.media.media--transparent::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.product__media.media.media--transparent:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}
.product__media-toggle:after {
  display: none;
}