.custom-featured-product .product-media-container,
.custom-featured-product .product-form__buttons,
.custom-featured-product .product-form__input{
    margin: 0;
}
.custom-featured-product .product-media-container.constrain-height.media-fit-contain{
    width: 100%;
    height: 100%;
}
.custom-featured-product .price .badge{
    background: #000;
    color: #fff;
}


.custom-featured-product .product-form__input input[type=radio]+label.option__color {
    border: 1px solid #fff;
    width: 48px;
    height: 48px;
    padding: 0;
    box-shadow: 0px 0px 0px 1px #5A5B56;
    margin-top: 0;
    margin-bottom: 0;
  position: relative
}
.custom-featured-product fieldset{
    display: flex;
}
.custom-featured-product .product-form__input input[type=radio]+label.option__color svg{
    display: none;
}
.custom-featured-product .product-form__input input[type=radio]:checked+label.option__color {
    box-shadow: 0px 0px 0px 1px #EDEDE4;
    display: block;
}
.custom-featured-product .product-form__input input[type=radio]:checked+label.option__color svg {
    display: block;
}
button:not([disabled]):hover:after,
.product-form__submit:after,
.product-form__submit:before{
    box-shadow: none;
}
.featured_product-title{
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 48px;
}
.custom-featured-product .product__media-list,
.custom-featured-product .product__media-item,
.custom-featured-product .product-media-container .product__modal-opener,
.custom-featured-product .product-media-container.constrain-height .media{
    height: 100%;
}
.custom-featured-product .media>*:not(.zoom):not(.deferred-media__poster-button){
    position: relative;
}
.custom-featured-product .product-media-container.constrain-height .media{
    padding: 0;
}
.custom-featured-product .global-media-settings{
    border: none;
}
.custom-featured-product:not(.product--no-media)>.product__info-wrapper{
    padding: 48px 20px 32px 48px;
}
.custom-featured-product{
    background: none;
    min-height: 480px;
}
.custom-featured-product .product__info-wrapper{
    background: #fff;
}
.custom-featured-product .product__info-wrapper,
.custom-featured-product .grid__item.product__media-wrapper{
    max-width: 50%;
    width: 100%;
}
.custom-featured-product.grid{
    flex-wrap: nowrap;
      max-width: 1210px;
      margin: 0 auto;
    gap: 0
}
.custom-featured-product button.button.button--full-width.product__xr-button{
    display: none;
}
.custom-featured-product .product__title{
    color: #171719;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1; /* 72.8px */
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-top: 0;
}
.custom-featured-product .price__container{
    margin: 0;
}
.custom-featured-product .product__info-container>*+*{
    margin: 0;
    margin-bottom: 24px;
}
.custom-featured-product .product__info-container>*:last-child{
    margin: 0 !important;
}
.custom-featured-product span.price-item.price-item--sale.price-item--last,
.custom-featured-product .product__info-container .price--on-sale .price-item--regular,
.custom-featured-product .price__regular .price-item--regular {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}
.custom-featured-product .product__info-container .price--on-sale .price-item--regular{
    font-size: 25px;
}
.custom-featured-product .product__info-container .product-form{
    margin: 0;
}
.shopify-payment-button button{
    max-width: 250px;
    width: 100%;
    padding: 25px 10px;
    min-height: unset;
    border-radius: 50px;
    color: #fff;
    font-family: var(--font-heading-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}
.product-text-with-icon {
    display: flex;
    gap: 16px;
    align-items: center;
    color: #000;
    font-family: var(--font-heading-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: capitalize;
}
.product-form__buttons{
    max-width: none;
}
.product__xr-button[data-shopify-xr-hidden]{
    display: none;
}
.custom-featured-product .product-form__input input[type=radio]+label.option__color svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

@media screen and (max-width: 1440px) {
    .featured_product-title {
        font-size: 55px;
        margin-bottom: 55px;
    }
    .custom-featured-product.grid{
        max-width: 960px;
        gap: 0;
        border-radius: 10px;
        overflow: hidden;
    }
    .product__info-wrapper, .custom-featured-product .grid__item.product__media-wrapper{
        max-width: 50%;
    }
    .custom-featured-product:not(.product--no-media)>.product__info-wrapper{
        padding: 47px 35px;
    }
    .custom-featured-product .product__title{
        font-size: 38px;
    }
    .custom-featured-product .price{
        margin-bottom: 30px;
    }
    .custom-featured-product .product-form__input input[type=radio]+label.option__color{
        width: 40px;
        height: 40px;
    }
    .custom-featured-product .product-form__input input[type=radio]:checked+label.option__color svg{
        width: 26px;
        height: 26px;
    }
    .custom-featured-product .product-text-with-icon {
        font-size: 16px !important;
    }
    .custom-featured-product .product-text-with-icon img {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }
    .product-text-with-icon{
        gap: 12px;
    }
}
@media screen and (max-width: 960px) {
    .custom-featured-product .price{
        margin-bottom: 0px;
    }
    .custom-featured-product .product__info-wrapper, .custom-featured-product .grid__item.product__media-wrapper{
        max-width: none;
    }
    .custom-featured-product.grid{
        flex-direction: column;
    }
    .custom-featured-product .product-media-container.constrain-height .media{
        padding-bottom: 100%;
    }
    .custom-featured-product .media>*:not(.zoom):not(.deferred-media__poster-button){
        position: absolute;
    }
    .featured_product-title{
        font-size: 40px;
        margin-bottom: 24px;
    }
    .custom-featured-product:not(.product--no-media)>.product__info-wrapper{
        padding: 24px 15px;
    }
    .custom-featured-product.grid{
        gap: 0
    }
    .custom-featured-product .product__title{
        font-size: 40px;
    }
    .product__description li>span{
        font-size: 18px;
    }
    .custom-featured-product span.price-item.price-item--sale.price-item--last, .custom-featured-product .price__regular .price-item--regular{
        font-size: 29px;
    }
    .custom-featured-product .product-form__input input[type=radio]+label.option__color{
        width: 42px;
        height: 42px;
    }
  
    .custom-featured-product .product__info-container>*{
        margin-bottom: 16px;
    }
    .custom-featured-product .product-form__buttons,
    .custom-featured-product .product-form__input{
        margin-bottom: 24px;
    }
}
@media screen and (max-width: 600px) {
    .product-text-with-icon{
        gap: 5px;
        font-size: 14px;
    }
    .custom-featured-product .product-form__input input[type=radio]+label.option__color svg {
      width: 24px;
      height: 24px
    }
    .shopify-payment-button button,
    .product-form__buttons,
    .product-form__submit{
        max-width: none;
    }
    .custom-featured-product .product-text-with-icon{
        font-size: 18px;
    }
    .custom-featured-product .product-text-with-icon-list{
        justify-content: center;
    }

}


