.product-list__wrapper {
  background-position: 1% 48%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 48px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.product-list__content.content,
.product-list__product.product {
  max-width: 380px;
  flex-basis: 25%;
}
.product-list__content.content {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-list__product.product {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 10px 10px;
  max-width: 380px;
}
.product-list__product.product > a {
  padding-bottom: 24px;
  /*overflow: hidden;*/
}

.product-list__product.product > a > img:hover{
  transform: scale(1.1);
}
.product-list__product .product__name {
  color: #171719;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 18px;
  flex-grow: 1;
  text-decoration: none;
  margin: 0;
  transition: text-decoration .3s ease-in;
  display: block;
  font-family: var(--font-body-family);

}
.product__name:hover{
  text-decoration: underline;
}
.product-list__product .product__price {
  color: #171719;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin: 0;
}
.product-list__product .product__buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.product-list__product .product__add{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: rgb(208, 103, 42);
  color: #fff;
  height: 35px;
  font-family: 'Oswald';
  border: 0.0833rem solid transparent;
  text-align: center;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: all .3s ease-in-out;
}
.product__det.regular{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: rgb(228, 228, 229);
  background-image: none;
  font-size: 18px;
  color: rgb(23, 23, 25);
  font-weight: 600;
  text-decoration: none;
  border-radius: 50px;
  height: 35px;
  font-family: 'Oswald';
  width: fit-content;
  margin-right: 0;
}

.content__subtitle.h1 {
  color: #fff;
  font-weight: 400;
  margin: 0;
  padding-bottom: 22px;
}
.content__title.h1 {
  font-weight: 700;
  color: #fff;
  margin: 0;
  padding-bottom: 48px;
}
.content__link.regular {
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background: #171719;
  display: inline-flex;
  align-items: center;
  width: fit-content;
  border-radius: 50px;
  width: 200px;
  height: 42px;
  margin: 0;
  font-size: 18px;
  font-family: 'Oswald';
}
.product-list__product-media{
  position: relative;
  padding-bottom: 104.6% !important;
  overflow: hidden;
  margin-bottom: 24px;
}
.product-list__product-media img{
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  transition-duration: 300ms;
}
.product-list__product.product{
  padding: 16px 16px 24px 16px;
}
@media screen and (max-width: 1440px) {
  .product-list__wrapper {
    padding: 37px 51px;
    gap: 37px
  }
  .product-list__product-media {
    padding-bottom: 104% !important;
  }
  .product-list__product.product{
    max-width: 287px;
  }
  .product-list__content.content {
    justify-self: center;
  }

  .content__subtitle.h1 {
    font-size: 36px;
  }
  .content__title.h1 {
    font-size: 48px;
  }
  .product-list__product-media{
    margin-bottom: 24px;
  }
  .product-list__product .product__name{
    font-size: 20px;
  }
  .product__det.regular,
  .product-list__product .product__add{
    font-size: 14px;
  }
  .content__title.h1{
    padding-bottom: 23px;
  }
}
@media(max-width: 1080px) {
  .product-list__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 48px 15px;
  }
  .product-list__product.product,
  .product-list__content.content {
    width: 100%;
    max-width: calc(50% - 7.5px);
    flex-basis: unset;
  }
  .product-list__content.content {
    padding: 0;
  }
}
@media (max-width: 576px) {
  .product-list__product.product{
    padding: 10px;
  }
  .product-list__product-media {
    padding-bottom: 107% !important;
    margin-bottom: 10px;
  }
  .product-list__product .product__name {
    padding-bottom: 10px;
    font-size: 16px;
  }
  .product-list__product .product__price {
    padding-bottom: 10px;
    font-size: 14px;
  }
  .product-list__product .product__buttons {
    flex-wrap: wrap;
    gap: 5px;
  }
  .product-list__product .product__buttons > button,
  .product-list__product .product__buttons > a {
    flex-basis: 100%;
    width: 100%;
    font-size: 14px;
  }
  .content__link.regular {
    width: 100%;
  }
  .product-list__product.product>a{
    padding-bottom: 10px;
  }
  .product-list__product.product > a > img {
    height: 100%;
  }
  .content__subtitle.h1 {
    font-size: 29px;
  }
  .content__title.h1 {
    font-size: 40px;
  }
}
