.header-wrapper--border-bottom {
  border: none;
}
.header__heading .header__heading-link {
  padding: 0;
}
header.header {
  padding-top: 16px;
  padding-bottom: 17px;
}

.header__menu-item.list-menu__item {
  align-self: center;
  padding-top: 0;
  padding-bottom: 0;
}
.header {
  background-color: #000;
}
.header__menu-item {
  color: #fff;
}
.header__menu-item:hover{
  color: #fff;
  text-decoration: none;
}
.header__menu-item > span {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  font-family: 'Oswald';
}
.menu-drawer__menu-item {
  text-transform: uppercase;
}
.header--middle-left {
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  max-width: none;
}
.header__icons {
  gap: 32px;
}
.header__icon {
  width: fit-content;
  color: #fff;
  gap: 8px;
  text-decoration: none;
  font-size: 16px;
  line-height: normal;
  font-weight: 700;
  white-space: nowrap;
}
.header__heading {
  min-width: 100px;
}
.cart-count-bubble {
  position: static;
  padding-left: 5px;
  font-size: 16px;
}
.close-menu-drawer{
  position: absolute;
  width: 21px;
  height: 17px;
  top: 24px;
  right: 15px;
  cursor: pointer;
}
details > .header__icon--menu .icon-hamburger{
  visibility: visible !important;
  opacity: 1 !important;
  transform: none !important;
}
@media (max-width: 1200px) {
  .header__icon.header__icon--cart > span {
    display: none;
  }
  .header__icons {
    gap: 16px;
  }
}
.menu-drawer{
  top: 0;
  position: fixed;
  height: 100vh !important;
}
.menu-drawer__title{
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  line-height: 1;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(176, 173, 166, 1);
  text-transform: uppercase;
}
.menu-drawer__navigation-container,
.menu-drawer__inner-submenu {
  background-color: rgba(224, 222, 212, 1);
  padding: 0 15px;
}
.menu-drawer__navigation{
  padding-top: 16px;
}
.menu-drawer__menu-item {
  font-weight: 700;
  padding: 0;
  padding-bottom: 32px;
}
.menu-drawer__menu-item:not(:last-child) {
  padding-bottom: 32px;
  padding-left: 0;
  padding-right: 0;
}
.menu-drawer__menu-item--active {
  background-color: inherit;
}
.menu-drawer__menu-item.list-menu__item.link {
  font-size: 20px;
  padding: 0;
  gap: 8px;
  line-height: 1;
  font-family: var(--font-heading-family);
}
.menu-drawer__menu-item--active, .menu-drawer__menu-item:focus, .menu-drawer__close-button:focus, .menu-drawer__menu-item:hover, .menu-drawer__close-button:hover{
  background-color: transparent;
}
.js .menu-drawer__menu li{
  padding-top: 32px;
  margin: 0 !important;
}
.menu-drawer__menu {
  padding-top: 32px;
}
.menu-drawer__menu-item>.icon-arrow {
  position: initial;
  transform: none;
  /*top: calc(50% - 10px);*/
}
.menu-drawer__close-button.link.link--text{
  font-size: 36px;
    font-weight: 600;
    font-family: var(--font-heading-family);
    line-height: 1;
    align-items: center;
    text-transform: uppercase;
    padding-left: 0;
    gap: 5px
}
.menu-drawer__close-button.link.link--text svg{
  width: 2rem
}
.header__submenu.list-menu.list-menu--disclosure {
  background-color: rgba(23, 23, 25, 1);
}
.header__submenu > li > .header__menu-item {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.product-navigation{
  background: #181818;
    top: 130px;
    left: 0;
    width: 100%;
    z-index: 222222;
}
.product-navigation__wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 16px
}
.product-navigation .product_breadcrumbs__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.product-navigation .product_breadcrumbs__wrapper .breadcrumbs__item {
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.breadcrumbs a,
.breadcrumbs{
  margin: auto 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
}
.navigation-list-item{
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 15px 20px;
  border-radius: 50px;
  position: relative;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
}
.navigation-list-item.active{
  font-weight: 700;
}
.navigation-list-item:last-child{
  margin-right: 0;
}
.product-navigation-list{
  max-width: max-content;
  margin: 0 auto;
  position: relative;
  padding: 0;
  display: flex;
  gap: 10px
}
.animation-scrollbar{
  position: absolute;
  left: 0;
  border-radius: 50px;
  height: 100%;
  background: #2C2C2C;
  transition-duration: 500ms;
}
.utility-bar .localization-wrapper .disclosure .localization-form__select{
  font-size: 16px;
}
@media screen and (max-width: 1440px) {
  .navigation-list-item,
  .product-navigation .product_breadcrumbs__wrapper .breadcrumbs__item{
    font-size: 15px;
    line-height: 12px;
  }
  .navigation-list-item{
    padding: 12px 23px;
  }
  .product-navigation-list{
    gap: 8px
  }
  .product-navigation__wrapper{
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (max-width: 1100px) {
  .product-navigation__wrapper {
  grid-template-columns: 1fr;
}
.product-navigation .product_breadcrumbs__wrapper{
  justify-content:center
}
.breadcrumbs{
  text-align: center;
}
}
@media screen and (max-width: 600px) {
  .product-navigation .product_breadcrumbs__wrapper .breadcrumbs__item {
        font-size: 16px;
    line-height: 11px;
    }
  .breadcrumbs a,
  .breadcrumbs{
    font-size: 16px;
  }
  .navigation-list-item{
    padding: 10px 15px;
    line-height: 10px;
    font-size: 12px;
  }
  .product-navigation-list{
    justify-content: space-between;
    width: 100%;
    }
}
.section-header.shopify-section-header-sticky {
  top: 28px;
}
.section-header.shopify-section-header-sticky.overlay{
  z-index: 12;
}
.js .header-localization:not(.menu-drawer__localization) .localization-form__select {
  height: fit-content;
}
.custom-link__wrapper ul{
  padding: 0;
}