.product_breadcrumbs__wrapper {
    position: absolute;
    top: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.product_breadcrumbs__wrapper .breadcrumbs__item {
    color: #171719;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.product.product__wrapper {
    padding: 32px;
    border-radius: 20px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
}

.grid__item.product__media-wrapper {
    max-width: 42.614% !important;
}

.product--large:not(.product--no-media) .product__info-wrapper {
    max-width: 50% !important;
}

.product__slider-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__slider-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product__thumbnails-slider {
    margin-top: 16px;
}

.product__thumbnails-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    padding-bottom: calc(100% / 4.8);
    cursor: pointer;
}

.product__thumbnails-slide::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 5px rgba(224, 222, 212, 0.50);
    pointer-events: none;
}

.product__thumbnails-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: absolute;
    left: 0;
    top: 0;
}

.product__info-container {
    max-width: initial !important;
}

.product__info-container.product__column-sticky {
    padding-top: 30px;
}

.product__info-container>*+* {
    margin: 2.4rem 0 !important;
}

.product__title h1 {
    color: #171719;
    font-family: Oswald;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
}

.price__container .price-item {
    color: #171719 !important;
    font-family: Oswald;
    font-size: 32px !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.price--show-badge .badge {
    display: none !important;
}

.product__description {
    color: #171719;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.product-form__buttons {
    max-width: initial !important;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 20px;
    flex-wrap: wrap;
}

.product-form__buttons button.button,
.product-form__buttons button.button::before,
.product-form__buttons button.button::after,
.product-form__buttons .shopify-payment-button button,
.product-form__buttons .shopify-payment-button button::before,
.product-form__buttons .shopify-payment-button button::after {
    width: 100%;
    max-width: 250px;
    padding: 25px 0px;
    border-radius: 50px;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.product-form__buttons button.button {
    background: #D0672A;
    color: #FFF;
}

.product-form__buttons button.button::before,
.product-form__buttons button.button::after {
    box-shadow: none !important;
}

.product-form__buttons .shopify-payment-button {
    width: 100%;
    max-width: 250px;
}

.advantages__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 38px;
}

.advantages__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.advantages__item img {
    max-width: 30px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.advantages__item span {
    color: #171719;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: capitalize;
}

.payment_icons__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.payment_icons__text {
    color: #171719;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.payment_icons__icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.payment_icons__item {
    display: flex;
    max-width: 48px;
    height: auto;
}

.payment_icons__item svg {
    width: 100%;
    height: 100%;
}

.product__info-container .product-form {
    margin: 0 !important;
}

@media screen and (max-width: 1450px) {
    .grid__item.product__media-wrapper {
        max-width: 48% !important;
    }

    .product__title h1 {
        font-size: 40px;
    }

    .price__container .price-item {
        font-size: 29px !important;
    }

    .product__description {
        font-size: 18px;
    }

    .product-form__buttons button.button,
    .product-form__buttons button.button::before,
    .product-form__buttons button.button::after,
    .product-form__buttons .shopify-payment-button button,
    .product-form__buttons .shopify-payment-button button::before,
    .product-form__buttons .shopify-payment-button button::after {
        font-size: 20px;
        padding: 15px 0;
    }

    .advantages__item span {
        font-size: 18px;
    }

    .payment_icons__text {
        font-size: 18px;
    }
}

@media screen and (max-width: 990px) {
    .product.product__wrapper {
        flex-direction: column;
    }

    .grid__item.product__media-wrapper {
        max-width: 100% !important;
        width: 100% !important;
    }

    .product--large:not(.product--no-media) .product__info-wrapper {
        width: 100% !important;
        max-width: 100% !important;
    }
}

@media screen and (max-width: 749px) {
    .product_breadcrumbs__wrapper {
        top: 12px;
    }

    .product_breadcrumbs__wrapper .breadcrumbs__item {
        font-size: 16px;
    }

    .product.product__wrapper {
        padding: 15px;
    }

    .product__thumbnails-slide {
        padding-bottom: calc(100% / 5.0623);
    }

    .product__info-container>*+* {
        margin: 1.6rem 0 !important;
    }

    .product__title {
        margin-top: 24px;
        margin-bottom: 0;
    }

    .product__info-container .price__container {
        margin: 0;
        display: flex;
    }

    .price__container .price-item {
        line-height: 1;
    }

    .product__description {
        font-size: 14px !important;
    }

    .product-form__buttons {
        justify-content: center;
    }

    .product-form__buttons button.button,
    .product-form__buttons button.button::before,
    .product-form__buttons button.button::after,
    .product-form__buttons .shopify-payment-button button,
    .product-form__buttons .shopify-payment-button button::before,
    .product-form__buttons .shopify-payment-button button::after {
        padding: 25px 0;
        max-width: 400px;
    }

    .advantages__wrapper {
        flex-direction: column;
        gap: 16px;
    }

    .payment_icons__wrapper {
        flex-direction: column;
        align-items: center;
    }
}